
.icons {
    position:relative; left:40px ;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.font {
    font-family: 'Raleway', sans-serif;
}
.aboutme{
    position:relative; 
    top: 40px;
}
.aboutmetext {
    text-align: center;
}
.blog{
    position:relative; 
    top: 40px;
    left: 280px; 
}
.allblog{
    position:relative;
    top: 150px;
    text-align: center;
}
.counter{
    position:relative;
    right: 50px;
    top: 20px;
    text-align: right;
}
.bloglink:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}
.bloglink:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}
.bloglink:hover {
    color: rgb(82, 82, 82);
    background-color: transparent; 
}
.bloglink:active {
    color: rgb(0, 0, 0);
    background-color: transparent;
}

.line {
    border-bottom: 1px solid black;    
}

#page-container {
    position: relative;
    min-height: 100vh;
}
  
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}
  
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
}

