{% extends 'portfolioApp/base.html' %}

  {% block content %}

    <div class="row justify-content-center mb-3 gx-0">
      <div class="col-md-8">

        <div class="pb-3 aboutme">
          <h1 class="display-5">About me</h1>
        </div>

        <div class="col-md-6 font aboutmetext center">
            <br>
            <br>
            <h5 class="line">This is something about me: ...</h5>
            <br>
            <p> I worked as a technical worker for the last 10 years. 
              I recently started studying IT and now work as application and system support at Kyndryl.
              In my spare time I am interested in programming. I was most interested in the Python
              programming language due to its simple syntax. I would like to start working on real projects and start
              deepening my knowledge.</p>
                  
            <p>  </p>         
        </div>            
      </div>     
    </div>

  {% endblock %}



